@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
}

.logo {
  max-width: 300px;
}

.section-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}